body{
    background-color: #1B1F27;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: hidden;
    text-align: center;
    user-select: none;
}

p{
    font-size: 17px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#resgatado{
    background-color: #0e0e13;
    padding: 50px;
    border-radius: 20px;
}

img{
    width: px;
    border-radius: 10px;
}