body{
    background-color: #21192e;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: hidden;
}

p{
    font-size: 17px;
}

a{
    text-decoration: none;
    color: #5568FE;
    font-weight: bold;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#texto{
    background-color: #0e0e13;
    padding: 50px;
    border-radius: 20px;
}